#!/usr/bin/env bash

branch=develop
folder="$HOME/Documents/Projects/SafeScale/${branch}"

if [ ! -d ${folder} ]; then
    echo "branch '$branch' ($folder) not found"
    return 2
fi

folder="${folder}/go"
sources="${folder}/src/github.com/CS-SI/SafeScale"
if [ ! -d "${sources}" ]; then
    echo "no source found in folder '$sources'"
    return 3
fi

case "$branch" in
    "develop")
        export GOROOT=/opt/homebrew/opt/go@1.17/libexec
        ;;
    *)
        export GOROOT=/opt/homebrew/opt/go@1.16/libexec
        ;;
esac

export GOBIN="${folder}/bin:~/go/bin:/usr/local/bin"
export GOPATH="${folder}"
export GOCACHE="${folder}/cache"
export PATH=$folder/bin:$GOROOT/bin:$HOME/go/bin:$PATH

