backend "consul" {
	address		 = "{{ .Consul.Server }}"
	scheme		 = "https"
	path		 = "safescale/metadata/{{ .Organization }}/{{ .Project }}"
	gzip		 = false	# We'll see if this setting should change to true
	# 'access_token' voluntarily not placed here to avoir security risk, will use env var to provide token
}