#
# Copyright 2018, CS Systemes d'Information, http://www.c-s.fr
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

---
component:
    name: Docker
    target:
        host: yes
        cluster:
            master: all
            node:
                private: all
                public: all
    install:
        bash:
            wall_time: 15
            check: |
                case $LINUX_KIND in
                    debian|ubuntu)
                        dpkg -l | grep docker-ce &>/dev/null
                        ;;
                    centos|rhel)
                        rpm -qa | grep docker-ce &>/dev/null
                        ;;
                    fedora)
                        dnf list installed | grep docker-ce &>/dev/null
                        ;;
                    *)
                        echo "Unsupported operating system '$LINUX_KIND'"
                        exit 1
                        ;;
                esac
                exit $?

            add: |
                case $LINUX_KIND in
                    debian|ubuntu)
                        export DEBIAN_FRONTEND=noninteractive
                        wait_for_apt && apt-get update
                        wait_for_apt && apt-get install -y apt-transport-https ca-certificates curl gnupg2 software-properties-common || exit $?
                        curl -fsSL https://download.docker.com/linux/$LINUX_KIND/gpg | apt-key add -
                        add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/$LINUX_KIND $(lsb_release -cs) stable"
                        wait_for_apt && apt-get update
                        wait_for_apt && apt-get install -qqy docker-ce jq || exit $?
                        systemctl enable docker-ce
                        systemctl start docker-ce
                        ;;
                    centos|rhel)
                        yum install -y yum-utils device-mapper-persistent-data lvm2
                        yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
                        yum install -y docker-ce jq
                        systemctl enable docker
                        systemctl start docker
                        ;;
                    fedora)
                        dnf install -y dnf-plugins-core || exit $?
                        dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
                        dnf install -y docker-ce jq || exit $?
                        systemctl enable docker-ce
                        systemctl start docker-ce
                        ;;
                    *)
                        echo "Unsupported operating system '$LINUX_KIND'"
                        exit 1
                        ;;
                esac

                compose_version=$(curl -Ssl https://api.github.com/repos/docker/compose/releases/latest | jq .name -r)
                curl -Ssl -L https://github.com/docker/compose/releases/download/$compose_version/docker-compose-$(uname -s)-$(uname -m) -o /usr/bin/docker-compose || exit $?
                chmod +x /usr/bin/docker-compose
                exit 0

            remove: |
                case $LINUX_KIND in
                    debian|ubuntu)
                        wait_for_apt && apt-get remove -y docker-ce
                        ;;
                    centos|rhel)
                        yum remove -y docker-ce
                        ;;
                    fedora)
                        dnf erase -y docker-ce
                        ;;
                    *)
                        echo "Unsupported operating system '$LINUX_KIND'"
                        exit 1
                        ;;
                esac
                rm -f /usr/local/bin/docker-compose

    service:
        start: |
            systemctl start docker-ce

        stop: |
            systemctl stop docker-ce

        state: |
            systemctl status docker-ce

...