[Unit]
Description=Hello World HTTP
Requires=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/safescaled

[Install]
WantedBy=multi-user.target
