terraform {
	required_version = "{{ .Terraformer.Config.Release }}"
	required_providers {
		{{ range $i := .Terraformer.Config.RequiredProviders }}
		{{ $i.Name }} = {
			source  = "{{ $i.Source }}"
			version = "{{ $i.Version }}"
		}
		{{ end }}
	}

	{{ if .ConsulBackend }}
	{{ .ConsulBackend }}
	{{ end }}
}

{{ .ProviderDeclaration }}

{{ if .ConsulBackendData }}
{{ .ConsulBackendData }}
{{ end }}

{{ .Resources }}