name: Docker Image CI Go Stable

on:
  push:
    branches: [ bugfix/develop ]
  pull_request:
    branches: [ bugfix/develop ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build . --file Dockerfile.current --tag safescale-develop:$(date +%s)
